@{
    ViewData["Title"] = "Home Page";
}

<a asp-area="" asp-controller="Home" asp-action="Contact" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp"><i class="material-icons">mail</i></a>
<div class="extra-space"></div>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" href="index.html">Home</a><a class="mdl-navigation__link" href="portfolio.html">Portfolio</a><a class="mdl-navigation__link" href="about.html">About</a><a class="mdl-navigation__link" href="contact.html">Contact</a>
    </nav>
</div>
<div class="container" style="padding-top:3%;">
    <div class="container">
        <h2 style="color:white !important;">Games Master</h2>
        <p style="color:white !important;">GamesMaster is a British television show, screened on Channel 4 from 1992 to 1998, and was the first ever UK television show dedicated to computer and video games.</p>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Season 1</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <section class="section--center mdl-grid site-max-width">
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio1.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s1-ep1</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/7Pm1266IFqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio2.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s1-ep2</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/_wY4nV04C-w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s1-ep3</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/lzMMwH5ET98" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s1-ep4</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/-dL3ufTAe3A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s1-ep5</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/efgp4zQQ4qk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s1-ep6</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/5483XvCf0pU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s1-ep7</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/AGCHfG6d9lU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s1-ep8</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/3DIStW4mnEg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s1-ep9</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/LazrrQ0LNgE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s1-ep10</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/tBDsl3jJq24" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Season 2</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <section class="section--center mdl-grid site-max-width">
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s2-ep1</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/Z6F2kj18_gM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio2.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s2-ep2</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/otdQ_7MYQDw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s2-ep3</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/Ca-i3pZ4FIo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s2-ep4</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/PHG5E5-1M8E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s2-ep5</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/vgY4pYYsG-w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s2-ep6</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/8f4bodlCdLY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s2-ep7</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/TVosL7g4-mU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s2-ep8</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/WOSdASW5EYM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s2-ep9</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/tlrzTVNu4l4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s2-ep10</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/f7MdhoGKm_g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s2-ep11</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/xvtYPUlsVW0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s2-ep12</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <iframe src="https://www.youtube.com/embed/Xkj1CT4UBOg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                <div class="mdl-card__media">
                                    <img class="article-image" src="images/portfolio3.jpg" border="0" alt="">
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">s2-ep13</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                       <iframe src="https://www.youtube.com/embed/deHqhoLri8I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
                                </div>
                            </div>

                        </section>




                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Season 3</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="extra-space"></div>

@*<footer class="mdl-mini-footer">
    <div class="footer-container">
        <div class="mdl-logo">&copy; Unitiled. Design: <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>
        <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Privacy & Terms</a></li>
        </ul>
    </div>
</footer>*@

<script src="https://code.getmdl.io/1.3.0/material.min.js" defer></script>

<script>
        $(document).ready(function() {
         $('#play-intro').on('click', function(ev) {

             $("#intro-video")[0].src += "&autoplay=1";
        ev.preventDefault();

      });
    });
</script>