@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="extra-space"></div>
<div class="container loginpage">
    <div>

        @{
            ViewData["Title"] = "Your password has been reset";
        }

        <h3>@ViewData["Title"]</h3>  
        <p>
            Please check your email to reset your password.
        </p>
        <div class="extra-space-small"></div>
        @section Scripts {
            @await Html.PartialAsync("_ValidationScriptsPartial")
        }

    </div>
</div>