<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logconsole" xsi:type="Console" />
    <target name="DebugLogfile" xsi:type="File" fileName="Logs/DebugLogs.txt" />
    <target name="ExceptionLogfile" xsi:type="File" fileName="Logs/ExceptionLogs.txt" />
    <target name="WarningLogfile" xsi:type="File" fileName="Logs/WarningLogs.txt" /

  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="DebugLogfile" />
    <logger name="*" minlevel="Error" writeTo="ExceptionLogfile" />
    <logger name="*" minlevel="Warn" writeTo="WarningLogfile" />
  </rules>
</nlog>