.loginpage {
    background: #e1e7f2;
    font-family: Calibri;
    border-radius: 50px;
    box-shadow: 5px 10px 8px #888888;
    width: 70%;
    margin-top: 50px;
    opacity:0.95;
}

body {
    background-image: url(https://images.pexels.com/photos/1293269/pexels-photo-1293269.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}