@model ModelData.GameListModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>GameListModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Developer" class="control-label"></label>
                <input asp-for="Developer" class="form-control" />
                <span asp-validation-for="Developer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDateNA" class="control-label"></label>
                <input asp-for="ReleaseDateNA" class="form-control" />
                <span asp-validation-for="ReleaseDateNA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDateEU" class="control-label"></label>
                <input asp-for="ReleaseDateEU" class="form-control" />
                <span asp-validation-for="ReleaseDateEU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDateJP" class="control-label"></label>
                <input asp-for="ReleaseDateJP" class="form-control" />
                <span asp-validation-for="ReleaseDateJP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
